@using BookManage.Models
@model Book

@{
    /**/

    ViewBag.Title = "ChitietBook";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/Detail.css" rel="stylesheet" />
<link href="~/Content/CommentCss.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="~/Scripts/CmtJSCRITP.js"></script>
<div class="title" style="font-size:30px; padding:20px 0px">
    <a style="font-family:Georgia" class="navhead" href="@Url.Action("Home","Home")"> HOME </a> <i style="color:#4e9df7" class="material-icons">navigate_next</i> <a href="@Url.Action("Home","Home")" style="font-family:Georgia" class="navhead">@Model.Title</a>
    <hr>
</div>
<div class="baotrum">
    <div class="anh"><img src="~/Images/@Model.ImgUrl" /></div>
    <div class="noidung">
        <div id="tenbook">@Model.Title</div>
        <div class="price">
            $@Model.Price.00
        </div>
        <div class="nameauthor">
            <label for="">Author:   </label><label id="lbNXB" for="" style="font-size:larger"> @Model.Author.AuthorName</label>
            <label for="">Publisher:   </label><label for="" style="font-size:larger"> @Model.Publisher.Name</label>
        </div>

        <div class="status">
            @if (Model.IsActive == "True")
            {
                <a id="activetrue">Active</a>

            }
            else if (Model.IsActive == "False")
            {

                <a id="activefalse">Cancel</a>
            }
        </div>
        <div id="tieudebook">
            @Model.Summary
        </div>
        <div class="quanty">
            <label id="quantity">Quantity</label><input type="text" name="1" id="qty" value="@Model.Quantity" disabled="disabled">
        </div>
        <div class="buttom">
            <a href="@Url.Action("Home","Home")" class="btnbottom" id="btn-right">Go To Home</a>
            <a onclick="DatHang(@Model.BookId)" class="btnbottom" id="btn-right">   Đặt Hàng   </a>
        </div>
    </div>




    <div class="Tab">
        <a id="Tab-R">Đánh Giá</a>
        <a id="Tab-L">Mô Tả</a>

    </div>
    <div class="Tab-Description">
        <h3>@Model.BookId</h3>
        <h3 style="font-size:18px">@Model.Summary</h3>
    </div>
    <div class="Tab-Review" id="idReview">
        <div>
            <div style="display:none" class="new-Cmt">
                <div class="review-list">
                    <div class="author">
                        <b></b>
                        Bình Luận Ngày: <span></span>
                    </div>
                    <div class="rating-review">
                    </div>
                    <div class="text-review">

                    </div>
                </div>
            </div>
            @foreach (var dg in (IList<Comment>)ViewData["listDG"])
            {
                <div class="review-list">
                    <div class="author">
                        <b>@dg.HoTenKH</b>
                        Bình Luận Ngày: <span>@string.Format("{0:dd/MM/yyyy}", dg.CreatedDate)</span>
                    </div>

                    <div class="text-review">
                        @dg.Content
                    </div>
                </div>
            }
        </div>
        <h3>Viết Đánh Giá</h3>
        <form class="frm-Rating" id="frmRating">
            <input type="text" id="MaSach" name="MaSach" value="@Model.BookId" style="display:none;" />
            <input type="text" id="Ngay" name="Ngay" value="@DateTime.Now.ToString()" /><input disabled style="visibility:hidden" type="text" value="@Session["username"]" name="Name" id="txt-frmRating" />
            @*<span  id="txt-frmRating">@Session["Email"]</span>*@
            <br />
            <p>Bình luận Của Bạn:</p>
            <textarea name="Comment" id="erea-frmRating"></textarea>
            <br />

            <div class="btn-frmRating">
                <div>
                    <input type="button" onclick="Cmt()" value="Đăng" class="btn-Rating" id="subRating" />
                </div>
            </div>
        </form>
    </div>
</div>

